/*== BASES ==*/
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

:root{
    --text-size: 1.6rem;
    --title-size: 3.2rem;
    --subtitle-size: 2.2rem;
    --subsubtitle-size: 2rem;

    --text-color: #73687D;
    --title-color: black;
    --link-color: #66517A;
}

a{
    color: var(--link-color);
}

section{
    padding: 2rem 0.7rem;
}

h1, h2, h3{
    padding-top: 0.7rem;
    padding-bottom: 0.3rem;
}

p, table, li{
    font-size: var(--text-size);
    color: var(--text-color);
}

p{
    line-height: 2rem;
    padding: 0.15rem;
}

code{
    font-size: var(--text-size);
    background-color: lightgray;
}

.section-divider{
    height: 1px;
    width: 100%;
    background: black;
}


/*== NAV ==*/
#navbar{
    position: fixed;
    background: white;
    border: 1px solid black;
    height: 100%;
    width: fit-content;
}

#navbar header{
    font-size: var(--subtitle-size);
}

#linkrol a{
    display: block;
    font-size: var(--text-size);
    text-align: center;
    padding: 1rem;
}


.navbar-divider{
    height: 1px;
    background: black;
}


/*== MAIN ==*/
#main-doc{
    margin-left: 16%;
}

header h1{
    font-size: var(--title-size);
}

main h2{
    font-size: var(--subtitle-size);
}

main h3{
    font-size: var(--subsubtitle-size);
}

main .table{
    width: fit-content;
    margin: 2rem auto;
}

main .table, main .table tr, main .table td{
    border: 2px solid #73687D;
    border-collapse: collapse;
    padding: 0.3rem;
}

main .table-header{
    background: lightgray;
}

ul, ol{
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
}

iframe{
    display: block;
    margin: 2rem auto;
}

pre{
    background-color: lightgray;
    margin: 1rem 0; 
    border-radius: 0 15px 15px 0;
    width: 70%;
}

pre code .css-selector{
    color: darkgreen;
}

pre code .css-property{
    color: darkred;
}

pre code .css-value{
    color: var(--text-color);
}

/*== Media Queries ==*/
@media(max-width: 480px){

:root{
    --text-size: 1rem;
    --title-size: 2rem;
    --subtitle-size: 1.8rem;
    --subsubtitle-size: 1.3rem;

    --text-color: #73687D;
    --title-color: black;
    --link-color: #66517A;
}

    #navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: fit-content;
        z-index: 9999;
    }

    .navbar-divider{
        display: none;
    }

    #linkrol{
        display: grid;
        grid-template-columns: repeat(6, auto);
        gap: 0;
    }

    #linkrol a{
        font-size: var(--text-size);
        text-align: center;
        padding: 0.5rem;
    }

    #main-doc{
        margin-left: 2%;
    }

    section{
        padding: 7rem 0.5rem;
    }
}